<form id="Login" action="/login" method="GET">
  <ul>
    <li>
      <label for="username">Username:</label>
      <input type="text" id="Nombre" name="username">
    </li>
    <li>
      <label for="password">Precio:</label>
      <input type="text" id="password" name="password">
    </li>
    <li class="button">
      <button type="submit">Submit:</button>
    </li>
  </ul>
</form>